body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
}

p {
    font-size: xx-large;
    visibility: hidden;
}

.mapDiv {
  position: relative;
  width: 80vw;
  max-width: 900px;
  height: auto;
  aspect-ratio: 4 / 3;
}

.mapDiv img,
.mapDiv svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.mapDiv .pngMap{
    z-index: -1;
}

.mapDiv .pngMapOverlay{
    z-index: 1;
}

.mapDiv svg{
    z-index: 2;
}

.highlight path {
    stroke-width: 3 !important;
}