@font-face {
	font-family: Volkhov;
	src: url(../font/Volkhov-Regular.ttf);
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EFF5FA;
}

.content {
	width: 85vw;
	height: 95vh;
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.left-sidebar,
.right-sidebar {
	width: 20%;
	height: 100%;
	border: solid black 1px;
	background-color: white;
}

p {
	font-size: xx-large;
	visibility: hidden;
	margin: 0;
	font-family: Volkhov;
}

.map-view img,
.map-view svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.map-base {
	z-index: -1;
}

.map-overlay {
	z-index: 3;
	pointer-events: none;
}

.map-view svg {
	z-index: 2;
	pointer-events: none;
}

.territory path {
	pointer-events: auto;
}

.highlight path {
	fill: #FFF8CD !important;
	stroke-width: 1pt !important;
	stroke: #888B78 !important;
}

.selected path {
	fill: #FEE561 !important;
	stroke-width: 1pt !important;
	stroke: #191507 !important;
}

.map-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	width: auto;
	border: solid black 1px;
}

.map-topbar{
	width: 100%;
	height: 5%;
	text-align: center;
	border-bottom: solid black 1px;
	background-color: white;
}

.map-view {
	height: 95%;
	aspect-ratio: 1 / 1;
	width: auto;
	position: relative;
}