@font-face {
	font-family: Volkhov;
	src: url(../font/Volkhov-Regular.ttf);
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EFF5FA;
}

.content {
	width: 85vw;
	height: 95vh;
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.territory-flag{
	width: 75%;
	border: solid black 1px;
	height: auto;
}

.left-sidebar,
.right-sidebar {
	width: 20%;
	height: 100%;
	border: solid black 1px;
	background-color: white;
	text-align: center;
}

p {
	font-size: xx-large;
	margin: 0;
	font-family: Volkhov;
}

.territory-label {
	visibility: hidden;
}

.map-view img,
.map-view svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.map-base {
	z-index: -1;
}

.map-overlay {
	z-index: 3;
	pointer-events: none;
}

.map-view svg {
	z-index: 2;
	pointer-events: none;
}

.territory path {
	pointer-events: auto;
}

.highlight path {
	fill: #FFF8CD !important;
	stroke-width: 1pt !important;
	stroke: #888B78 !important;
}

.selected path {
	fill: #FEE561 !important;
	stroke-width: 1pt !important;
	stroke: #191507 !important;
}

.map-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	width: auto;
	border: solid black 1px;
}

.map-topbar{
	width: 100%;
	height: 5%;
	text-align: center;
	border-bottom: solid black 1px;
	background-color: white;
}

.map-view {
	height: 95%;
	aspect-ratio: 1 / 1;
	width: auto;
	position: relative;
}

table{
	border-bottom: 1px solid;
	border-top: 1px solid;
  	width: 100%;
	border-spacing: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th{
	text-align: left;
	padding-left: 1rem;
}

td{
	text-align: right;
	padding-right: 1rem;
}

tr{
	height: 2em;
}

tr:nth-of-type(odd){
	background-color: #EFF5FA;
}

td.increase::after { background-image: url("../assets/icons/increase.png"); }
td.decrease::after { background-image: url("../assets/icons/decrease.png"); }

td.increase::after, td.decrease::after {
	vertical-align: baseline;
    content: "";
    display: inline-block;
    width: 0.85em;
    height: 0.85em;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0.1em;
}

.chart-container {
    width: 100%;
    height: 30%;
	pointer-events: none;
}